.main-contact{
    width: 100%;
    position: absolute;
    background-color: rgb(41, 41, 41);
}
.contact-container{
    position: relative;
    margin: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 100%;
    padding: 10px 100px;
    color: white;
}

.popup-active{
    display: flex;
}
.popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    .contact-container{
        flex-direction: column-reverse;
        padding: 0;
    }

}
